{% extends "base.html" %}

{% block content %}

<div class = "wierd_text">
  <p>Если в двух словах: есть небольшой бизнес, что продает свои товары на маркетплейсах (в случае бизнеса семьи, откуда я эту идею и достал речь идет про 3 основных: wildberries, ozon и детский мир).</p>
  <p>Со временем и ростом числа маркетплейсов сложно отвечать на все комменты тк надо регулярно посещать тучу страниц и пастить комменты (это стоит надо делать для поддержания планки бренда) </p>
  <br>
  <p>Кажется, можно придумать много решений. Но в контексте данного учебного проекта задачу поставим следующим образом:</p>
  <p>Парсить все комменты с показаной страницы для одного маркетплейса и выводить все комменты без ответа</p>
  <br>
  <p>Сразу есть набор идей, что можно делать со всеми этими данными, но перед тем как бежать делать мне стоит еще раз обсудить, что действительно было бы полезно :/ (идея была передана мне буквально в общих чертах. Детали я пока не успел обсудить) В любом случае этот проект для вышки - самый простой скелет, на который потенциально буду наращивать действительно что-то полезное</p>
  <br>
  <p>UPD: теперь в тестовом проекте lamoda тк убил тучу времени на попытки обработать js, но там прям беды, так что посмотрю как-нибудь позже</p>
</div>

<a href="/" class = "wierd_link"> Вернуться </a>

<div class = "wierd_text">
  <p>P.S. to be fair я до универа очень много прогал на Flask на хакатонах, так что не совсем пустой пришел. В любом случае почти все забыл за последние 2 года полные матеши + beatiful soup  я трогал лишь однажды для этого (парсил edjude). Так что этот проект писал почти с 0</p>
</div>

{% endblock %}
